

li{
	 list-style: none;
}



button {
     width: 5rem;
     cursor: pointer;
     background-color: rgba(10, 9, 9, 0.8); 
     padding: 0.2rem;
     border: 1px solid #6C757D;
     margin-top: -10px;
     color: #7fc8e9; 
     transition: all 0.3s ease; 
 
 }
 
 button:hover {
     color: rgb(253, 253, 253);
     background-color: rgba(248, 61, 148, 0.8);
     border: 1px solid rgba(248, 61, 148, 0.8);
 }