


@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


body {
   
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
    margin: 0;
    font-family: "Italiana", "serif"; 
    height: 100%; 
}

.frontpage-navigation {

    padding: 1rem;
    background-color: rgb(239, 238, 200);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(123, 151, 169);  
}

header {
  
    display: flex;
    flex-direction: row;
    padding-right: 2.8rem;
    gap: 1rem;
}

.logo {
    border: 1px solid rgb(170, 20, 20);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    align-content: center;
    border-radius: 100%;
} 

.links {
   
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.link-forntpage {
    display: flex;
    color: rgb(140, 152, 148);
}

.link-forntpage-artist {
    display: none;
    color: black;
}

/*-------------------------------------*/

.frontpage {
   
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artists {
    padding-top: 2rem;
    min-height: 100vh;
    background-color: rgb(239, 238, 200);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(123, 151, 169);
    
}

.artists-name {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navigate-button-adele, .navigate-button-espen {
    border: 1px solid black;
    padding: 4rem;
    color: rgb(200, 242, 121);
    font-size: medium;
    background-color: black;
}

/*--------------------------------------------*/

footer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    text-align: center;
    background-color: rgb(239, 238, 200);
    border: 3px solid rgb(123, 151, 169);
}

.symbol {
      margin-top: 0.1rem;
     border: 1px solid black;
     border-radius: 50% ;
     height: 1.5rem ;
     width: 1.5rem;
}

/*---------------------------------------------*/

.frontpage-for-espen,
.frontpage-for-adele {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 238, 200);
    border: 3px solid rgb(123, 151, 169);
}

.filter-espen,
.filter-adele {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.filter-espen p,
.filter-adele p {
    border: 1px solid rgb(131, 122, 122);
    padding: 0.2rem;
}

.item-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
    margin: 10px;
}

  img {
   
    width: 100%;
    height: auto;
    object-fit: contain;   
}


/*.render-items-adele img {
    width: 100%;
    height: auto;
}*/


/*
.category2-image img{
    width: 50%;
    margin-left: 0.5rem;
    border-left: 1.4rem solid white; 
    border-right:  1.4rem  solid white; 
    border-top: 2rem solid white; 
    border-bottom: 5rem solid white;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
} */


.filter-adele {
    cursor: pointer;
}

.filter-biografi{
    color: black;
}

.filter-painting {
    color: black;
}

.filter-print {
    color: black;
}

.filter-active {
    color: blue;
    font-weight: bold;
    border-color: blue;
    background-color: rgba(0, 0, 255, 0.1);
}

/*.item-details {
    display: none;
} */



.filter-espen-biografi--visible{ 
    color: blue;
 }

.filter-espen-painting--visible {
    color: blue;
}

.filter-espen-print--visible {
    color: blue;
    
}

.filter-espen-project--visible {
    color: blue;
}

 .filter-espen-biografi,
 .filter-espen-painting,
 .filter-espen-print, 
 .filter-espen-project{
   cursor: pointer;
}


/*--------------------------------------------*/

.back-button{
    margin-top: 0.1rem;
   
}

.item-details  {
   padding: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
   
    background-color: rgb(239, 238, 200);
    border: 3px solid rgb(123, 151, 169);
}


.text_container {
    margin: 15px auto;
    padding: 15px;
    min-width: 90%;

}


/*-------------------------------------------*/


@media (min-width: 380px) {
  
    .item-details  {
        padding: 0.5rem;    
    }

    .item-img {
       
       /* padding-top:0.5rem;*/
        width: 100%;
    }

    
    .render-items-adele,
    .render-items-espen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        width: 100%;
    }


    
    .render-items-adele img,
    .render-items-espen img {
        width: 100%;
        height: auto;
    }

    .artists-name {
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .frontpage-navigation {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 560px) {

   


    .back-button {
        display: block;
        max-height: 30px;
        margin-top: 0.1rem;
       }

    .item-img {
        width: 50%;
      
        }
    
        .item-details  {
            padding: 3rem;
             display: flex;
             flex-direction: row;
             gap: 0.5rem;  
            
         }


    .render-items-adele,
    .render-items-espen {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }

    .render-items-adele img,
    .render-items-espen img {
        width: 100%;
        height: auto;
    }

    .navigate-button-adele,
    .navigate-button-espen {
        border: 1px solid black;
        padding: 7rem;
     
    }

    body {
        padding: 1rem;
    }

    header {
        font-size: 25px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 35px;
    }

    .link,
    span,
    footer {
        font-size: 20px;
    }

    .logo {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
}



/*-----------------------------------------------------------*/


.contact-section {
    
    background-color: white;
    border: 3px solid rgb(123, 151, 169);
    padding: 0.3rem;
}

.tekst-boks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.tekst-boks p {
    margin: 0.5rem 0;
    max-width: 600px; 
    text-align: center; 
    margin: 0 auto;
  }

  h4 {font-size: 20px;}

  .endamer-info{ 
    padding-top:0.5rem;
    padding-bottom: 0.2rem;
}

   .endaendamer-info{ 
    font-size: 12px;
}

.close-button{
    display: flex;
    align-self: flex-end;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: auto;
}

.close-button:hover {
    color: #ff0000;
}

/*-----------------------------*/

